name: pypi
on:
  release:
    types:
      - created
jobs:
  pypi-publish:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/fastapi-limiter
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: uv sync --all-groups
      - name: Build dists
        run: make build
      - name: Pypi Publish
        uses: pypa/gh-action-pypi-publish@release/v1
